:root {
  --primary-background: #2c2e34;
  --primary-text: #9ed072;
  --secondary-text: #e7c664;
  --white-text: #ffffff;
  --red-text: #fc5d7c;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--primary-background);
  font-family: "Atkinson Hyperlegible Mono", sans-serif;
  font-optical-sizing: auto;
}

#app {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#statistic-container {
  justify-content: space-between;
  color: var(--primary-text);
}

#speed-value,
#accuracy-value,
#time-value {
  color: var(--secondary-text);
}

.caps-alert {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  word-spacing: 0.2rem;
  color: var(--primary-background);
  border-radius: 4px;
  background-color: var(--primary-text);
  padding: 8px 12px;
  margin: 0;
}

#middle-container {
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  font-size: 24px;
  line-height: 45px;
  color: var(--white-text);
}

.cursor {
  position: absolute;
  left: 0;
  top: 0;
  height: 36px;
  border-left: 2px solid grey;
  transition: transform 0.1s;
}

.letter-correct {
  color: var(--primary-text);
}

.letter-false {
  color: var(--red-text);
}

.letter-false-space {
  background-color: var(--red-text);
}

.horizontal-container {
  justify-content: space-between;
  align-items: center;
}

.refresh {
  display: inline-block;
  transform: rotate(180deg);
}

#buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 32px;
}

.btn {
  flex: 1;
  border: none;
  border-radius: 1px;
  font-size: 20px;
  box-sizing: border-box;
  padding: 6px 12px;
}

#refresh-btn {
  margin-right: 24px;
}

footer {
  display: flex;
  padding-bottom: 32px;
}

.shortcut-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: var(--primary-text);
  font-size: 0.95rem;
}

.shortcut-container > p {
  margin: 0 0 16px 0;
  word-spacing: 0.3rem;
}

.highlighted {
  color: var(--primary-background);
  border-radius: 4px;
  background-color: var(--primary-text);
  padding: 2px 6px;
}

.hideable {
  display: none;
}
